body{
    background: url('../assets/body.jpg');
}

.push_down{
    padding-top: 400px;
}
.nav_buffer_top{
    width: 100vw;
    height: 45px;
}

.nav_top{
    position: absolute;
    width: 100vw;
    height: 55px;
    background-color: #222222;
    color: #FF6600;

}
.hamburger{
    padding: 5px 12px;
    color:#FF6600; 
}
.nav_side{
    position: absolute;
    top: 55px;
    width: 120px; 
    height: 100vh;
    background-color: #FF6600; 

}

.nav_side>ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: inherit;
    background: #ff6600;
}
.nav_side>ul>li>a{
    display: block;
    padding: 8px 16px;
    color: #222222;
    text-decoration: none;
    transition-duration: 0.3s;
}
.nav_side>ul>li>a:hover{
    background-color: #222222;
    color: #F9F2F4;
    transition-duration: 0.3s;
    
}

.content_container{
    margin-left: 200px;
}

.bs-callout {
	padding: 20px;
	margin: 20px 0;
	border: 1px solid #eee;
	border-left-width: 5px;
	border-radius: 3px;
}

.bs-callout-warning {
	border-left-color: #D76884;
    background-color: #F9F2F4;
}

.term {
    margin-top: 60px;
    /*margin-left: 10%;*/
    width:100%;
    height: 20vh;
}

.navbar_title{
    margin-top: 10px;
    color: #F9F2F4;
}
.navbar_logout{
    /*margin-top: 10px;*/
    color: #ff6600;
}
